<!DOCTYPE html>
        <html lang="en">
        <head>
        <title>Object detecion</title>
    <meta charset="utf-8">
    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/webp" href="member.webp">

</head>
<body>
<nav class="navbar">
    <div class="navbar-brand">
        <a style="color: #fafafa; margin-left: 10%" href="/">ODetect</a>
    </div>
    <ul class="navbar-links">
        <li><a href="/">Main</a></li>
        <li><a href="/detect">Detect</a></li>
    </ul>
</nav>
<div class="container" style="height: 525px">
    <h2>Батырманы басу арқылы анықтауды бастауға болады</h2>
    <section id="demos" class="invisible">
        <div id="liveView" class="camView">
            <button id="webcamButton">Камераға рұқсат беру</button>
            <video id="webcam" autoplay muted width="640" height="480"></video>
            <ul id="predictionsList"></ul>
        </div>
    </section>

</div>

<!-- Import TensorFlow.js library -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js" type="text/javascript"></script>
<!-- Load the coco-ssd model to use to recognize things in images -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>

<!-- Import the page's JavaScript to do some stuff -->
<script src="/script.js" defer></script>
</body>
</html></title>
</head>
<body>

</body>
</html>