<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/webp" href="member.webp">
</head>
<body>
<nav class="navbar">
    <div class="navbar-brand">
        <a style="color: #fafafa; margin-left: 10%" href="/">ODetect</a>
    </div>
    <ul class="navbar-links">
        <li><a href="/">Main</a></li>
        <li><a href="/detect">Detect</a></li>
    </ul>
</nav>
<div class="container">
    <h2>Біздің жоба: ODetect</h2>
    <p>Бұл жоба бейнедегі объектілерді анықтау үшін компьютерлік көру принциптерін қолданатын инновациялық жүйені ұсынады. Жобаның мақсаты-бұл жүйені қолданыстағы бейнебақылау жүйелеріне біріктіру, бұл олардың функционалдығын едәуір кеңейтеді және жақсартады.</p>
    <p>Бұл жобаның бағдарламалық стегі серверлік және клиенттік бөліктерді қамтиды. Сайттың Backend Node.js көмегімен жүзеге асырылады, сұраныстарды өңдеу және бүкіл жүйені басқару үшін сенімді және тиімді негізді қамтамасыз етеді. Frontend интуитивті және тартымды пайдаланушы интерфейсін қамтамасыз ететін HTML, JS және CSS көмегімен жасалған.</p>

    <h2>Біздің топ</h2>
    <div class="team-cards">
        <div class="team-card">
            <img src="/U_Aruzhan.jpg" alt="Member 1">
            <h3>Уразова Аружан</h3>
            <p>TeamLead, Frontend разработчик</p>
        </div>

        <div class="team-card">
            <img src="/Tamila.jpg" alt="Member 2">
            <h3>Сыйхова Тамила</h3>
            <p>Data Engineer, ML разработчик</p>
        </div>

        <div class="team-card">
            <img src="/K_Aruzhan.jpg" alt="Member 3">
            <h3>Казиева Аружан</h3>
            <p>Frontend разработчик, Backend разработчик</p>
        </div>
    </div>
</div>

</body>
</html>
